[2012-09-29 18:55] ekmett opened #2 "Document what Strict and Lazy mean"
Affects:

Control.Monad.State.Strict
Control.Monad.Writer.Strict
Control.Monad.RWS.Strict

From Ben Gamari:

In general it would be nice if the notion of strictness were better
addressed in the major libraries' documentation. It's a nuanced
issue which is not fully captured by a ".Lazy" or ".Strict" in the
module name.

[2012-11-27 06:37] ekmett opened #3 "Do we want to do something about extensible Exceptions?"
Mark Lentczner (@mzero) sent in his [Control.Monad.Exception](https://github.com/mzero/plush/blob/exceptions/src/Control/Monad/Exception.hs), and there is also `MonadCatchIO-transformers`.

Do these belong within the scope of the `mtl`?

[2013-03-09 01:37] joeyh opened #4 "Control.Monad.State.Strict.modify is lazy"
I've had programs that repeatedly modified state leak memory because modify does not force the f s thunk.

This is surprising in a library with "strict" in its name..

[2013-03-09 09:28] #4 closed, assigned to ekmett

[2013-03-28 18:17] ekmett opened #5 "Missing laws"
The laws for `MonadState`, etc. are missing from the haddocks.

It may be a good idea to add them.

[2013-04-26 15:11] adek05 opened #6 "No MaybeT"
Why there is no MaybeT transformer in library? There is a implemenation of it here:
http://www.haskell.org/haskellwiki/New_monads/MaybeT
Why not to put it inside?

[2013-04-27 01:08] #6 closed, assigned to ekmett

[2013-07-10 23:36] jkoppel opened #7 "Extraneous Error constraints"
Many instances for MonadError have Error constraints that are completely unused. In particular, the MonadError instance for Either does not use its Error constraint. This does nothing except restrict generality.

[2013-07-12 18:14] #7 closed, assigned to ekmett

[2014-01-07 16:04] ghost opened #8 "Stop reexporting Control.Monad from modules in 7.10"
It would be a good time to push such a change because that is when the big library shuffle is planned for.

[2014-05-05 14:33] ibotty opened #9 "ExceptT from transformers 0.4 is not abstracted"
i personally like `ExceptT` pretty much so it would be nice to have it in mtl.

[2014-05-05 23:38] #3 closed, assigned to nobody

[2014-05-06 10:55] #9 closed, assigned to nobody

[2014-05-08 14:25] hvr opened #11 "`mtl-2.0.1.0` fails to build with recent `base`"
I know this isn't the latest version of `mtl`, but the problem is that `mtl-2.0.1.0` claims to work with `base<6` which obviously isn't true, letting `cabal-install` select that version of `mtl` in some cases instead of trying harder to find a different install plan. The compile error is:

[code]

[2014-05-12 13:07] #11 closed, assigned to nobody

[2014-05-14 07:15] feuerbach opened #12 "Add MINIMAL pragmas"
From a quick look, the following classes would benefit from [MINIMAL pragmas](http://www.haskell.org/ghc/docs/7.8.2/html/users_guide/pragmas.html#minimal-pragma) since they have recursive method definitions:

* MonadState
* MonadWriter

Maybe some others that I missed.

[2014-08-16 17:03] jml opened #15 "Documentation suggests using deprecated `Error` class"
The documentation for [MonadError](https://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Except.html#t:MonadError) says "In these cases you will have to explicitly define instances of the Error and/or MonadError classes."

`Error` links to [Control.Monad.Error.Class](https://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Error-Class.html#t:Error). If you try to import that in

[2014-08-24 08:18] AshleyYakeley opened #16 "Alternative instance MonadState s (ContT r m)"
I notice that instead of requiring `MonadState s m`, it's possible to require `MonadReader s m`:

    instance MonadReader s m => MonadState s (ContT r m) where
        get = ContT (\smr -> ask >>= smr)
        put s = ContT (\umr -> local (\_ -> s) (umr ()))

Is this preferable?

[2014-10-22 10:11] ivan-m opened #18 "Control.Monad.Identity and IdentityT"
For the sake of completeness, should `Control.Monad.Identity` re-export `IdentityT` from `Control.Monad.Trans.Identity` from transformers?

[2014-11-15 12:57] ivan-m opened #19 "Cont instances for StateT"
The `MonadCont` for both Lazy and Strict `StateT` uses `liftCallCC'` from their respective modules.

However, if you look at the documentation for these functions, they both say:

(As opposed to `liftCallCC`, which presumably does.)

Is the documentation for `liftCallCC'` incorrect (in which case this is something that should be fixed in `transformers`), or is mtl really using a function that prev

[2014-11-22 14:11] natschil opened #20 "Documentation on http://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Identity.html contains a small mistake"
The documentation cited in the title contains the line "Identity x >>= f == Identity (f x)". However, if I am not mistaken, this is wrong: it should read "Identity x >>= f == f x".

[2015-03-04 19:02] FranklinChen opened #23 "Uneasy with example using `fromJust`"
`Reader.hs` documentation has an example that makes me very uneasy because it uses `fromJust`. I think code snippets make a big impression on newcomers and the example code to illustrate `Reader` is not anything anyone would really write because it doesn't account for errors.

[code]

[2015-06-24 14:20] #15 closed

[2015-07-13 13:53] ddssff opened #25 "The pass function in Control.Monad.Writer is mysterious and needs more explanation"
Its signature makes it look like the modify function in the State monad but more powerful.  Experience has shown me that it differs, but I don't understand how.

[2015-09-07 06:29] ekmett opened #26 "Document the MonadWriter laws"
More "positive" laws relating `pass` and `listen` to `tell` are conspicuously absent in both the `mtl` and `transformers`. This expands upon issue #25.

We currently at best have laws stated in terms of `runWriterT` which is unsatisfying.

[2015-09-07 06:33] ekmett commented on #20
Indeed. Fixed in 452b6b5 by @dmjio on Jun 15, 2014.

[2015-09-07 06:33] #20 closed

[2015-09-07 06:36] ekmett commented on #19
This behavior is considered "by design" and historical. Changing it isn't a viable option.

The desirability of a "uniform lifting property" for `liftCallCC` was retroactively added after the fact, and there is no migration plan that doesn't just silently change semantics on almost every piece of user code written using `Cont`.

We carefully document that we do not have this desirable property on

[2015-09-07 06:36] #19 closed

[2015-09-07 06:44] ekmett commented on #12
Shipped in 2.2.1 on Jun 2, 2014, but this issue was never closed. Resolving.

[2015-09-07 06:44] #12 closed

[2015-09-07 06:45] ekmett commented on #8
I'd like to wait until we can [deprecate an export](https://ghc.haskell.org/trac/ghc/ticket/4879) before ripping off this bandaid.

[2015-09-07 06:46] ekmett commented on #26
Duplicate of #5.

[2015-09-07 06:46] #26 closed

[2015-09-07 06:48] ekmett commented on #16
This would violate user expectation somewhat severely.

[2015-09-07 06:48] #16 closed

[2015-09-07 06:49] ekmett commented on #23
I'd happily take a pull request to change the example to something more neutral.

[2015-09-07 06:49] ekmett commented on #18
Indeed.

[2015-09-07 06:51] #18 closed

[2015-09-07 06:52] ekmett commented on #25
Closing this out as a partial duplicate of #5, but it definitely needs to be addressed.

[2015-09-07 06:52] #25 closed

[2015-09-07 09:42] AshleyYakeley commented on #16
Just as a datapoint, it happened to be the instance I wanted, inasmuch as `MonadReader` is "simpler" than `MonadState`: indeed you can kinda/sorta make `MonadReader` a superclass of `MonadState`, though I'm not actually proposing this.

    instance MonadReader s m where
        ask = get
        -- | imperfect, but you get the idea
        local ss ma = do
            s <- get
            put (ss

[2015-09-07 20:36] ekmett commented on #16
Reader and State do have a sort of incestuous relationship.

`Codensity (Reader s) ~ State s`, because State is made up of the composition of Reader s and its adjoint functor: `(, s)`. Using this you can always embed reader effects into State.

In an almost equally universal manner you can embed writer effects into state, but there are some minor complications on that front, and while the reader e

[2015-09-10 21:27] treeowl commented on #16
Would it be worth the trouble to come up with a `ContT` wrapper offering this instance?

[2015-09-10 22:46] ekmett commented on #16
Possibly. If so it should belong in `transformers` though, not `mtl`, and then `mtl` would inherit support for it.

[2015-09-17 15:41] jason-johnson opened #27 "No MonadError instance for Maybe or []"
There is a MonadError instance defined for Either, but neither Maybe nor List ([]) even though the transformer versions of those types *are* defined.

As it stands, users who may wish to treat a failure as a Nothing or empty list must define Orphaned instances.

[2015-09-17 23:17] ekmett commented on #27
`MonadError` implies two things:

1.) The type of error is determined by the monad.
2.) You can `catchError` whatever it is that you throw with `throwError`.

Neither one of these properties holds for either `Maybe` or `List`.

You can't just make `instance MonadError e Maybe` because of the functional dependency.

They can't comply with the `MonadError` invariants unless the 'e' in `MonadError` i

[2015-09-17 23:26] ekmett commented on #27
On the other-other hand, these instances are inconsistent with the behavior of `MaybeT` and `ListT`.

[2015-11-24 20:20] Denommus opened #28 "Encapsulate IO exceptions in Monad IO m, MonadError e m"
I'm actually not sure whether this is an issue, or if it fits the project goals at all, but I keep wondering why we can't have an encapsulation of core exceptions from `IO` actions (since they are far too common) under a more type-safe approach such as `MonadError e m`.

What I'm thinking about is something like

[code]

[2015-11-24 20:44] ekmett commented on #28
`Control.Exception` steps well outside of the language extensions that the `mtl` has used to date and would tie the library very closely to GHC.

[2015-11-24 20:53] ekmett commented on #28
Closing this out based on our discussion on IRC.

[2015-11-24 20:53] #28 closed

[2015-11-24 20:55] ekmett commented on #27
Deciding not to proceed here because of the incompatibility with the existing `MaybeT` and `ListT` instances.

[2015-11-24 20:55] #27 closed

[2015-12-17 00:44] ezyang opened #29 "Should warn against WriterT use"
Yes, there's a warning on transformers, but it should be re-warned here.

[2015-12-22 13:23] hvr opened #30 "Add support for transformers-0.5 release"

[2015-12-22 13:25] hvr commented on #30
somewhat related: ekmett/transformers-compat#11

[2015-12-23 14:30] osa1 commented on #30
:+1: , I can't use mtl in my plugins anymore because of this.

[2015-12-24 18:24] osa1 commented on #30
It seems like this is resolved.

[2015-12-25 07:08] osa1 commented on #30
Can we have a Hackage upload please?

[2016-01-03 08:42] hvr commented on #30
@ekmett This is blocking a lot of packages from being tested with GHC 8.0 snapshots. And as it seems to be that in fact an upper-bound-relaxation is all that's needed, I've relaxed the upper bound on `transformers` for the existing `mtl` release: https://hackage.haskell.org/package/mtl-2.2.1/revisions/ -- if this is incorrect, please let me know

[2016-01-04 17:15] ekmett commented on #30
@hvr thanks

[2016-03-06 01:29] fizruk opened #32 "Add MonadDeclare"
`swagger2` makes use of a [`DeclareT` monad transformer](http://hackage.haskell.org/package/swagger2-2.0.1/docs/Data-Swagger-Declare.html) which lies between the `WriterT` and `StateT`.
It also provides an `mtl`-style `MonadDeclare` type class with some laws.
Since the construction is not specific to `swagger2`, it might make sense to add it to `mtl` and `transformers`.

A corresponding [issue for

[2016-03-18 22:30] mitchty commented on #30
As a note, mtl still needs to have its bounds updated so that cabal-install can be bootstrapped with ghc 8.0, the hackage release still has ==0.4.* in its cabal bounds. Perhaps release an mtl candidate like cabal/cabal-install have so that bootstrap with ghc 8.0 can occur?

[code]

[2016-03-18 22:33] hvr commented on #30
@mitchty I'm confused... we edited https://hackage.haskell.org/package/mtl-2.2.1/revisions/ long ago... why doesn't that work for you?

[2016-03-18 22:36] mitchty commented on #30
@hvr the cabal file on hackage which the bootstrap.sh script uses has the bound of ==0.4.* aka, this isn't going through cabal-install but bootstrapping cabal-install from scratch.

So once Setup.hs is run with the mtl.cabal with the old bounds bootstrap.sh fails.

And as a note this is to test out building cabal-install on a new architecture so not having an existing cabal is something I can't wo

[2016-03-18 22:40] hvr commented on #30
@mitchty if you look at https://github.com/haskell/cabal/blob/1.24/cabal-install/bootstrap.sh#L268-L298 the bootstrap script fetches the revised `mtl.cabal` file...

[2016-03-18 22:42] mitchty commented on #30
That doesn't seem to be in the package in hackage however:
[code]

[2016-03-18 22:44] mitchty commented on #30
Think I see the issue, ignore my comments. Thanks @hvr!

[2016-04-04 17:44] Ericson2314 commented on #27
Sorry what's the incompatibility/inconsistency with `MaybeT`?

[2016-04-05 20:28] ekmett commented on #27
The instance for MaybeT lifts the MonadError instance for the underlying monad.

[code]

Having `Maybe` and `MaybeT Identity` have different semantics would be very awkward.

[2016-04-05 21:56] Ericson2314 commented on #27
Ah of course, thanks. Maybe it's just best to add a `catchM` to `transformers` then.

[2016-04-13 10:04] tmcgilchrist commented on #23
Regarding an improvement to this example, would you consider it enough that there is a non-partial function in place of `fromJust` e.g.

[code]

[2016-04-13 13:50] ekmett commented on #23
We could just call `maybe` appropriately instead.

[2016-05-22 21:56] lpsmith opened #35 "ApplicativeReader"
The `Monad` constraint on `MonadReader` is a bit too constraining for me;   I'd really like to loosen that constraint to `Applicative`  (or looser?) while breaking the least amount of code possible.

So now that we've made `Applicative` a superclass of `Monad`,  that would make such a transition considerably easier.   However,  simply changing `Monad` to `Alternative`,  while it shouldn't break in

[2016-05-31 07:47] robjhen commented on #30
There seems to be an inconsistency in the Hackage database between the following two files:

- [hackage.haskell.org/package/mtl-2.2.1/mtl.cabal](https://hackage.haskell.org/package/mtl-2.2.1/mtl.cabal)
- [hackage.haskell.org/package/mtl-2.2.1/src/mtl.cabal](https://hackage.haskell.org/package/mtl-2.2.1/src/mtl.cabal)

The first of these links is what you get when you click on 'package description'

[2016-05-31 08:10] hvr commented on #30
@robjhen not a glitch, but rather the way `.cabal`-revisions work, c.f. http://hackage.haskell.org/package/mtl-2.2.1/revisions/

[2016-07-08 17:12] ElvishJerricco commented on #32
It is possible, when working directly in `DeclareT`, to erase declared values.

[code]

Now, I see that the laws are carefully constructed such that this isn't a violation of any sort. But it does make me question the *usefulness* of those laws. When given an arbitrary `MonadDeclare d m => m a`, you have no idea if it behaves as a state monad or a declare monad, as it might wipe any declarations y

[2016-07-08 17:44] fizruk commented on #32
@ElvishJerricco I suspect you didn't actually run that in GHCi:
- `execDeclare` receives arguments in different order;
- `DeclareT $ const $ return ([], ())` is essentially `declare []`;
- the output is actually `[1]`, as expected.

Here's what I get:

[code]

I believe the laws are useful and although you made me doubt it, I still think they don't allow any `MonadDeclare` instance to erase output

[2016-07-08 18:29] ElvishJerricco commented on #32
Oh geez you're right. That's what I get for browsing github issues on my phone =P My bad!

[2016-09-01 10:54] minad opened #38 "Stricter Writer"
Hi,

I made the packages writer-cps-mtl and writer-transformers-mtl which implement a stricter writer monad transformer in continuation passing style as was discussed before on the Haskell mailing list etc
- http://hackage.haskell.org/package/writer-cps-mtl
- http://hackage.haskell.org/package/writer-cps-transformers

See also the current reddit discussion:
https://www.reddit.com/r/haskell/comment

[2016-09-28 09:56] ekmett commented on #23
Merged

[2016-09-28 09:56] #23 closed

[2017-01-24 13:44] autotaker opened #39 "Control.Monad.State.Class.modify' does not behave like Control.Monad.Trans.State.Lazy.modify'"
`Control.Monad.State.Class.modify'` is defined as follows.
[code]
According to the instance of `MonadState s (StateT s m)` , this is equivalent to:
[code]
Because ``(let s' = f s in s' `seq` ((), s'))`` is encapsulated by `return`,
`f s` does not evaluated when `modify f` is evaluated.

I think this behavior is NOT desired.
In the `transformers` package, `modify'` is defined as follows.
[code]
Wit

[2017-02-07 20:23] tysonzero opened #40 "Make ((,) a) an instance of MonadWriter"
instance Monoid w => MonadWriter w ((,) w) where
        writer = swap
        tell = flip (,) ()
        listen ~(w, a) = (w, (a, w))
        pass ~(w, ~(a, f)) = (f w, a)

It might be necessary to put in a bit of CPP as the Monad instance of `Monoid w => Monad ((,) w)` only came around in base version 4.9.0.0, but to me this still seems like a worthwhile addition with no significant downsides.

[2017-02-09 16:25] HairyDude opened #41 "Control.Monad.Except haddocks mention ErrorT"
https://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Except.html has a heading "The ErrorT monad transformer" that describes ExceptT.

[2017-04-27 11:23] int-index commented on #38
@minad Thank you for `writer-cps-*` packages, I'll incorporate them into the next release of `ether` as the default implementation for `Writer`.

[2017-05-24 21:41] fizruk commented on #32
Starting with [`transformers-0.5.4.0`](https://hackage.haskell.org/package/transformers-0.5.4.0) there's [`Control.Monad.Trans.Accum`](https://hackage.haskell.org/package/transformers-0.5.4.0/docs/Control-Monad-Trans-Accum.html) which is `DeclareT` under a different (more general) name — `AccumT`.

[2017-06-07 01:14] fsimen opened #42 "Documentation error Control.Monad.Identity"
Binding strategy:
    The bound function is applied to the input value. Identity x >>= f == Identity (f x)
I think it should be Identity x >>= f == f x.

[2017-07-20 17:57] RyanGlScott commented on #30
I believe this has been resolved, so closing.

[2017-07-20 17:57] #30 closed

[2017-07-20 18:00] RyanGlScott commented on #42
Indeed. This was fixed upstream in https://github.com/haskell/mtl/commit/452b6b5bf7d8cbd012f2c2aa4931f7f266e28864.

[2017-07-20 18:00] #42 closed

[2017-07-20 18:03] RyanGlScott commented on #41
Indeed. This was fixed upstream in a4a0d4316fd1b50d63ef19bca43140e8152ae8c7.

[2017-07-20 18:03] #41 closed

[2017-07-24 19:40] bucklereed opened #44 "No instances for recently-added monads from transformers"
Control.Monad.Trans.Accum was added in transformers 0.5.3.0, but currently it's slightly painful to use because it doesn't have the usual MonadState, MonadReader, etc instances yet.

Whether it should get a MonadWriter instance that lifts the operations to the inner monad or handles them itself is a question.

SelectT was also added in transformers 0.5.3.0 and similarly lacks instances.

[2017-07-24 20:34] RyanGlScott commented on #39
Fixed in 56d270389ce1b852e522ce70c93e79660852a753.

[2017-07-24 20:34] #39 closed

[2017-07-25 15:06] RyanGlScott commented on #44
We should definitely add instances for `AccumT` and `SelectT`.

As far as how `AccumT`'s instances should work, I'm not sure. @fizruk had proposed in #32 that we introduce a new type class for things that can support `AccumT`'s operations (`MonadAccum`?), but it's not clear to me what its relationship with `MonadWriter`/`MonadState` would be.

I think there are enough design questions here that it

[2017-07-25 15:14] fizruk commented on #44
I think that `AccumT` should propagate `MonadReader`, `MonadWriter` and `MonadState` to inner monad and that we should introduce `MonadAccum`. This would be consistent with how other classes and transformers work.

[2017-07-25 22:14] RyanGlScott commented on #44
@fizruk, that sounds reasonable to me. But the design of these `Monad-` classes are usually more involved than one would initially believe (at least in my experience), so I think it would help to come up with a concrete design and propose it to the mailing list. If the community likes it, I'll accept a PR which implements it.

[2017-08-29 10:11] Taneb commented on #40
As of 0faad02c392f97c806136806f924e47247b115c4 this has been added.

[2017-08-29 13:36] #40 closed

[2017-09-09 16:49] WolframKahl opened #47 "mtl-2.2.1: transformers dependency inconsistent with Hackage"
Downloading a fresh copy of https://hackage.haskell.org/package/mtl-2.2.1/mtl-2.2.1.tar.gz from https://hackage.haskell.org/package/mtl gives me a `mtl.cabal` file containing:
[code]
However, the hackage page https://hackage.haskell.org/package/mtl  claims `transformers (>=0.4 && <0.6) `.
The latter is actually needed  ─ how can these diverge?

[2017-09-09 16:54] hvr commented on #47
This is starting to become a FAQ (meaning we should to a better job in Hackage's UI to make this more obvious) :-)

Hackage uses a scheme since 2014 where the tarball is immutable, but its meta-data, the `.cabal` file, can be revised. Hackage clients download the tarball and the respective .cabal revision and combine them at solver time.

See e.g.  http://hackage.haskell.org/package/mtl-2.2.1/revi

[2017-09-09 16:56] RyanGlScott commented on #47
Indeed, the preferred way to fetch these tarballs (with revisions) is `cabal get` or `stack unpack`.

This is a tooling issue, not an `mtl` issue, so closing.

[2017-09-09 16:56] #47 closed

[2017-09-28 00:11] ekmett commented on #44
I'm also leaning towards adding MonadAccum and the like.

[2017-11-14 16:33] 3noch opened #48 "Add Monoid/Semigroup instances to ReaderT and possibly others"
`IO` now has these instances in `base` and it seems that most monads could/should have them now.

[2017-11-14 18:54] 3noch commented on #48
https://mail.haskell.org/pipermail/haskell-cafe/2017-March/126605.html

[2017-11-14 19:18] RyanGlScott commented on #48
For starters, this kind of request should be made in `transformers`, as `ReaderT` _et al._ aren't defined in `mtl`.

Also, that Haskell Café link you posted shows why this hasn't happened yet—there isn't a solid consensus on what the instances should be.

[2017-11-14 19:18] #48 closed

[2017-11-14 19:21] 3noch commented on #48
Unfortunately `transformers` is on darcsden which gives an error when I try to login... :/

But after seeing that conversation I agree this is not a good idea. At least now we have an issue for it. ;)

[2017-11-14 19:23] RyanGlScott commented on #48
I mention this since the maintainer of `transformers` isn't going to find this page. You'd need to file an issue [here](https://hub.darcs.net/ross/transformers/issues) for him to notice.

[2017-11-14 19:27] 3noch commented on #48
Thanks. I did try that first but it appeared to be down. It appears to be back up now.

[2017-12-05 04:45] treeowl commented on #44
I just got bitten by the lack of a `MonadError` instance for `AccumT`.

[2017-12-07 01:55] Lysxia commented on #5
@ekmett That paper states `MonadState` laws in terms of `get` and `modify` (called `update` (`u`) in the paper).

[code]

Since mtl's `MonadState` is given by `get` and `put`, it seems simpler to reformulate laws in these terms. The four laws obtained from the different ways of sequencing two of `put` or `get` imply the above, but I'm wondering whether these are too strong for some useful instance

[2017-12-07 02:08] Lysxia commented on #5
For `MonadReader`, may I suggest the following:

[code]

[2017-12-14 00:26] ocharles commented on #5
Could your `ask-ask` law just be

[code]

?

[2017-12-14 00:58] Lysxia commented on #5
@ocharles Right, that looks equivalent and simpler. Formally speaking, I'm missing a step to prove that `ask >> ask = ask` implies `(,) <$> ask <*> ask = (\r -> (r, r)) <$> ask`; does it need some extra assumption about the monad (that might always hold in the cases we care about)?

[2017-12-14 14:10] ekmett commented on #5
You could probably go even stronger with something like

[code]

to show that `ask` commutes with everything, has no other side-effects and no monadic action can affect the answer of `ask`.

[2017-12-14 14:12] ekmett commented on #5
Also: at the very least, `reader`, `writer` and `state` are all monad homomorphisms, just like `lift`. (They are even almost always monad monomorphisms, but for an annoying technical corner case involving the terminal monad transformer.)

[2017-12-14 18:23] Lysxia commented on #5
Interesting, these homomorphisms imply a lot of the laws.

For example, *obviously* in `Reader` we can check that `ask >> ask = ask`. Now in a general `MonadReader`, provided `ask = lift ask`, we have `ask >> ask = lift ask >> lift ask = lift (ask >> ask) = lift ask = ask`.

[2018-01-21 20:35] bgamari opened #52 "Cut a release for GHC 8.4"
The GHC 8.4.1 release is quickly approaching and i would like to have all of the submodules finalized by next alpha. For this we will likely need a new release.

[2018-02-15 16:44] bgamari commented on #52
Ping.

[2018-02-24 23:58] RyanGlScott commented on #52
[`mtl-2.2.2`](http://hackage.haskell.org/package/mtl-2.2.2) has been uploaded to Hackage.

[2018-02-24 23:58] #52 closed

[2018-06-09 08:48] owickstrom opened #55 "Overview and introductory documentation improvements"
Hi! My first time posting issues here, so just wanted to start by
saying thanks for maintaining MTL! It's a life saver library that I
use in practically _all_ projects. :raised_hands:

OK, so I'm at ZuriHac and focusing on documentation improvements in
the Haskell ecosystem. I've noticed the documentation is a little thin
and confusing in terms of "at a first sight" experience, perhaps
coming in a

[2018-06-09 10:15] owickstrom commented on #55
I also found this page on the wiki, by the way: https://wiki.haskell.org/Monad_Transformer_Library

[2018-06-11 16:23] #55 closed

[2018-06-11 16:24] owickstrom commented on #55
I'll post new PRs later this summer on the other issues! :+1:

[2018-11-23 12:33] minad commented on #38
It seems transformers pulled writer-cps-transformers, see https://hub.darcs.net/ross/transformers/patch/b6743fad9f5ce8a9e13f15320f7d2752330084e2

[2018-11-23 12:36] RyanGlScott commented on #38
Assuming that these provide the same interface as the other `State`/`Writer` data types (which appears to be the case from a cursory glance, although I have not looked deeply), I'd happily accept a patch which adds `MonadState`/`MonadWriter` instances for these.

[2018-11-23 12:39] minad commented on #38
As soon as the new transformers is released, you can pull the code from http://hackage.haskell.org/package/writer-cps-mtl. I can also prepare a patch. The same applies to the other writer-cps-* packages, providing orphan instances for exceptions, lens and mmorph.

[2018-11-23 12:42] minad commented on #44
See also #38

[2018-12-01 21:09] safinaskar opened #59 "There is no relation between MonadFail and MonadError"
Currently there is no relation between MonadFail and MonadError. And this is bad.

What is _the right way_ to report errors if you know that they are strings and you want to be able to catch them in pure code? Currently we have such options: Either String, MonadFail and MonadError. Either String is not very general, so we have MonadFail and MonadError. Unfortunately, they are incompatible in both

[2019-02-10 16:41] ddssff opened #60 "Suggested addition tryError (originally tryExceptT)"
It seems to me that this function might make a useful addition to Control.Monad.Except:

    -- | ExceptT analog to the 'try' function.
    tryExceptT :: Monad m  => ExceptT e m a -> ExceptT e m (Either e a)
    tryExceptT = lift . runExceptT

[2019-02-10 16:51] chessai commented on #60
Can you give an example of where one might find this useful?

`ExceptT e m (Either e a)` is the same as `m (Either e (Either e a))`, nesting the `Either`s.

[2019-02-10 16:55] chessai commented on #59
I'm not a fan of such overlapping instances.

I'm also not sure there should be something considered "the right way" to report errors.

I'm against this.

[2019-02-10 22:52] ddssff commented on #60
Well, its a small thing, I just noticed it when trying to understand the relationship between GHC exceptions, Ed Kmett's exceptions library, and mtl's Control.Monad.Except.  All but mtl  have try-like functions that expose the Either in the return value.  I'm not sure simple examples will be very convincing though.

    runExceptT $ tryExceptT (throwError "an error occurred") >>= either (\e -> lif

[2019-02-11 01:04] chessai commented on #60
Since ExceptT has a MonadCatch instance, this is just Control.Monad.Catch.try. However that requires users to depend on the exceptions library. So, I don't think I would be opposed or not opposed to adding this. Maybe someone else could chime in.

[2019-02-11 12:02] Lysxia commented on #60
Since this is mtl it could be generalized to `tryError :: MonadError m => m a -> m (Either e a)`, and the specialized `tryExceptT` could be added to `transformers`. I've found `try` to be pretty useful, so I'm somewhat surprised mtl doesn't already have it.

[2019-02-12 21:10] ddssff commented on #60
Ah, that would be
[code]

[2019-02-14 23:45] gwils commented on #60
This seems like a good idea to me.

[2019-02-16 19:43] ddssff commented on #60
Also, a generalization of withExceptT:

    withError :: (MonadError e m, MonadError e' m) => (e -> e') -> m a -> m a
    withError f action = tryError action >>= either (throwError . f) return

[2019-02-23 13:59] ddssff commented on #60
Actually this withError implementation doesn't work, because there is a functional dependency m -> e.  This more limited implementation works:

    withError :: (MonadEror e m) => (e -> e) -> m a -> m a
    withError f action = tryError action >>= either (throwError . f) return

[2019-02-23 14:11] ddssff commented on #60
However, this analogue of mapExceptT works:

    mapError :: (MonadError e m, MonadError e' n) => (m (Either e a) -> n (Either e' b)) -> m a -> n b
    mapError f action = f (tryError action) >>= liftEither

[2019-03-03 12:48] recursion-ninja commented on #5
Any progress on finalizing these laws and adding them to the documentation?

[2019-03-03 16:17] Lysxia commented on #5
Thanks for the reminder @recursion-ninja . I think this issue was a victim of "perfect is the enemy of good". There are so many ways to present the laws, and comparing them all against each other is a deep rabbit hole. I just opened PR #61 to get things started.

[2019-05-16 23:17] taktoa opened #63 "Merge Control.Monad.Writer.CPS from writer-cps-mtl"
Currently `transformers` has a type called `Control.Monad.Trans.Writer.CPS.WriterT` that does not have accompanying `MonadWriter` / lifting instances in MTL. These instances are currently implemented as orphan instances in `writer-cps-mtl`. It should be possible to pretty much just copy over the modules defined in that package over to `mtl` to gain support.

[2019-05-17 08:23] fishtreesugar commented on #63
related #38

[2019-05-17 16:34] taktoa commented on #63
Ah, I will close in favor of that ticket

[2019-05-17 16:34] #63 closed

[2019-06-23 03:38] endgame opened #64 "Re-export evalCont/evalContT?"
These two functions are present in `transformers` but not `mtl`:

* `evalCont :: Cont r r -> r` -- The result of running a CPS computation with the identity as the final continuation.
* `evalContT :: Monad m => ContT r m r -> m r` -- The result of running a CPS computation with return as the final continuation.

Should they be re-exported? If so, I will prepare a PR.

[2019-06-23 14:19] RyanGlScott commented on #64
I think it would make sense to re-export these, especially since we do so for other `eval`-prefixed functions elsewhere in `mtl` (e.g., `evalState`). A pull request would definitely be welcome.

[2019-06-24 12:57] #64 closed

[2019-06-24 13:05] chessai commented on #59
In GHC 8.8.1, `fail` will be rebindable to allow any `IsString`. So this idea becomes even worse IMO.

See https://github.com/ghc-proposals/ghc-proposals/blob/master/proposals/0038-fail-rebindable-with-overloaded-strings.rst

[2019-06-24 13:06] chessai commented on #59
Closing. If anyone thinks this would be useful, feel free to re-open/ping to re-open.

[2019-06-24 13:06] #59 closed

[2019-06-24 13:08] chessai commented on #60
@ddssff would you like to prepare a PR? I'm currently in favour, and others are too.

[2019-06-24 13:12] chessai commented on #32
Since AccumT is now in transformers, and #44 is an open issue, I am going to close this. Anyone feel free to re-open or ping to re-open if I'm missing something.

[2019-06-24 13:12] #32 closed

[2019-06-24 16:16] ddssff commented on #60
Yes, I will do this.

[2019-06-25 06:09] chessai commented on #35
Alternatively, how much breakage would be caused by changing the constraint, to the following?:

[code]

Also, in transformers, a lot of constraints can be relaxed to Applicative.

This is all post-AMP, of course.

[2019-06-25 21:05] #60 closed

[2019-08-29 12:24] RyanGlScott commented on #38
I believe #67 implements this on `mtl`'s side, so closing. Please re-open if you disagree.

[2019-08-29 12:24] #38 closed

[2019-09-15 11:42] phadej opened #68 "MTL doesn't adhere to PVP as it re-exports e.g. Control.Monad"
This is subtle issue. But when you do

[code]

Then the `fail` is ambiguous.

it's my own fault, that I imported `Control.Monad.Reader` unqualified, but still this is surprising and nasty.

[2019-10-20 21:54] Zemyla commented on #5
The `get`-`put` laws can be easier described if they're defined in terms of `state`, I think.

[code]

Also, I'm wondering whether `MonadCont` has any laws. From what I can tell, these sound reasonable:

[code]

I'm also not sure whether the situation with `StateT` on `MonadCont` would screw things up.

[2019-10-25 00:15] Lysxia commented on #5
@Zemyla Those laws look great!

Here they are QuickChecked: https://github.com/Lysxia/checkers-mtl/blob/with-higherorder/src/Test/Monad/Cont.hs

The tests pass with those monads at least: https://github.com/Lysxia/checkers-mtl/blob/d30c35ea87d1746bbd2d1728abd0045f8355b650/src/Test/Monad/Cont/Checkers.hs#L36-L39

[2019-10-25 00:20] chessai commented on #5
Keep forgetting to note here, that as soon as the laws are decided on and a PR is merged, i will add them to quickcheck-classes and hedgehog-classes.

[2019-12-09 20:53] jkachmar opened #69 "Cut a new release of mtl"
`mtl` now provides a number of useful, unreleased changes (among them instances for `Control.Monad.Trans.Writer.CPS` and `Control.Monad.RWS.CPS` which were introduced in `transformers-0.5.6.2`).

Can we get a new release of this library in time for GHC 8.10, or has that ship sailed?

[2019-12-09 20:53] chessai commented on #68
would it be okay to just remove this?

[2019-12-09 21:14] phadej commented on #68
Remove re-export? I'd be very fine with that, the added convenience is minuscule IMO.

[2020-04-08 19:18] Ailrun commented on #69
Now GHC 8.10 is released. Is there any process on cutting a new release?

[2020-04-08 19:51] chessai commented on #69
@hvr @RyanGlScott what is the process for cutting a new release of mtl? I'm happy to take over that responsibility but I need to make sure I'm doing everything right.

[2020-04-08 21:57] cartazio commented on #69
last i checked, @ekmett  was maintainer, or am i way out of date?

[2020-04-09 09:04] ekmett commented on #69
It is still me. I'd be open to accepting a new maintainer or co-maintainer, @chessai.

[2020-04-09 16:37] chessai commented on #69
@ekmett I'm certainly interested. What is the process for cutting a new release? Are there any tickets we should consider resolving before one?

[2020-04-29 13:56] Ailrun commented on #69
Any updates?

[2020-05-11 19:16] vdukhovni commented on #69
It would sure be nice to see this merged, I've just had to jump though some extraneous hoops to wrap RWS.CPS in some code I'm working on, but with this merged I could just write `deriving instance MonadRWS` and be done...

[2020-05-11 19:57] cartazio commented on #69
Chess has upload perms for hackage now and if more help is needed I’ve asked @Bodigrim to chip in on release engineering , since he has excellent taste!

[2020-05-13 20:50] vdukhovni commented on #69
Good to know this is progressing...

[2020-05-13 21:13] chessai commented on #69
The main issue is that I am not sure what needs to be done (in terms of
issues/PRs) before a release, if anything. We could do a release now and
work on the other stuff later, or we could work on them now and delay the
release. The balance between those two is what has kept me from inaction.

After we have made a decision, we need to take mtl master and build a lot
of its biggest reverse dependenc

[2020-05-13 21:14] phadej commented on #69
There is https://hackage.haskell.org/package/writer-cps-mtl-0.1.1.6/docs/Control-Monad-Writer-CPS.html package. And back then when we discussed with @RyanGlScott we decided that it's better to keep writer-cps compat stuff there.

I.e. not to make everything worse by migrating `writer-cps-mtl` users to `mtl`. It's PITA.

Remember, `mtl` is now distributed with GHC. One would like to avoid need for

[2020-05-13 21:16] phadej commented on #69
The above mentioned discussion is in https://github.com/ekmett/transformers-compat/issues/39

[2020-05-13 22:06] cartazio commented on #69
@phadej  do you mean  `writer-cps-mtl` users to `mtl-compat`. or did you mean `mtl`?

[2020-05-13 22:09] Ailrun commented on #69
@phadej, do you mean that mtl will never cut a new release?
I mean, this repository already contains codes related to Control.Monad.Writer.CPS, so if mtl ever cuts a new release, it will be a part of mtl, do I mistaken?

[2020-05-13 22:15] cartazio commented on #69
I'm reasnoably confident its a typo reference to mtl-compat vs write-csp-mtl being a sibling compat? (does mtl-compat or transformers-compat note this anywhere?).

rather than about `mtl`

[2020-05-13 22:19] vdukhovni commented on #69
My take is that when it is time to cut the next major release bump of `mtl`, it should include the (already committed) new instances, and at that point `writer-cps-mtl` can be updated to just reexport the new `mtl` module.  I would not want to see the orphan implementation in `writer-cps-mtl` as a long-term solution.

[2020-05-13 22:30] phadej commented on #69
I’m saying that it’s easier to not migrate any new code to mtl as writer-cps-monad already provides the mtl instances for transformers / writer-cps-transformers.

Alternatively one should add CPS transformers to transformers-compat and instances to mtl AND transformers-compat.

Just check how complicated the transformers-compat setup is already:

https://hackage.haskell.org/package/transformers-co

[2020-05-14 00:29] ekmett commented on #69
I'm happy to donate `transformers-compat` to the CLC if that moves the needle. (I suspect it doesn't, much.)

I have a good deal of sympathy for "migrating is hard" arguments, but I'm not sure we should let that be a barrier to any attempt at further progress. `mtl` has sat basically unmodified for years, it has to be able to cut a release _somehow_.

If the data type is in supplied in `transforme

[2020-05-14 01:08] Bodigrim commented on #69
@phadej  This sounds like a good idea. Do you mean something like this: https://github.com/Bodigrim/parsec/commit/3e122d73dcfac06a3fda07de7e8b93d3e8235e3d?

[2020-06-06 16:18] fumieval opened #75 "Plans for ListT and ErrorT"
They are finally removed after several years of deprecation (https://hub.darcs.net/ross/transformers/patch/7c809b6f9db019ed761c971d10c86fa004f60d89). Is it OK to simply remove them from `mtl` as well? If so I can submit a PR.

[2020-06-06 16:29] chessai commented on #75
Yes. I would accept a PR for this. Make sure you take care with the
relevant CPP.

On Sat, Jun 6, 2020, 9:19 AM Fumiaki Kinoshita <notifications@github.com>
wrote:

[2020-06-07 03:52] fumieval commented on #75
Created https://github.com/haskell/mtl/pull/76

Can you elaborate a bit? No existing CPP seems to be affected

[2020-07-12 11:25] KingoftheHomeless opened #77 "Generic lifting of MonadCont"
It's possible to define a `liftCallCC` for any `MonadTrans` as follows:
[code]

This satisfies the [uniformity condition](https://hackage.haskell.org/package/transformers-0.5.6.2/docs/Control-Monad-Signatures.html#t:CallCC) as long as you assume `callCC` is algebraic; that is,
[code]
Which should always be true, except perhaps for `StateT`'s instance of `MonadCont`, since that doesn't satisfy the

[2020-07-13 00:51] chessai opened #78 "Deprecate Error and ErrorList classes"
The existence of these classes is extremely strange to me. I think now that ListT and ErrorT are being removed, these can be deprecated. What do others think? @haskell/core-libraries-committee

Also, this needs a proper library mailing list proposal

[2020-07-13 00:52] chessai commented on #77
Seems reasonable to me. Can @ekmett weigh in here?

[2020-07-13 00:55] chessai commented on #8
closing in favour of #68

[2020-07-13 00:55] #8 closed

[2020-07-13 02:03] #75 closed

[2020-07-13 03:36] fumieval commented on #78
Aren't they removed altogether? https://hub.darcs.net/ross/transformers/patch/7c809b6f9db019ed761c971d10c86fa004f60d89

[2020-07-13 05:40] chessai commented on #78
Got my wires crossed, sorry

[2020-07-13 05:40] #78 closed

[2020-10-14 11:58] KingoftheHomeless opened #83 "MonadReader instance for ContT has bad semantics"
We'd expect `local id == id`, but this isn't true for `ContT`.

Consider:
[code]
then
[code]

Breaking apart the instance reveals what goes wrong:
[code]

Undoubtedly would cause too much breakage to remove the instance, but perhaps a warning in the docs is warranted.

[2020-10-18 16:15] ekmett commented on #83
It is known that Reader for Cont is a bit wonky. For me this seems like another argument for splitting up MonadReader into the ask and local parts. That said that transition will be painful and may have to be part of a large scale mtl 3 shift.

[2020-10-18 16:16] ekmett commented on #68
I think we should just pull off the bandaid and do this.

[2020-10-18 16:19] ekmett commented on #35
I think I place this in the bin of ideas for a major mtl 3 rewrite. The major concern I have is that when you go to state laws for the transformers, many of them cannot be stated for the Applicative-only form.

[2020-10-18 19:09] KingoftheHomeless commented on #77
Actually, my assumption that `callCC` is always algebraic is incorrect.
[code]
The proof doesn't need the complete power of `callCC` being algebraic, however. Only this:
[code]
(which algebraicity implies).

I have a hard time imagining an implementation of `callCC` which doesn't satisfy this. `ContT`'s `callCC` certainly does, and any lifting of `callCC` using the `liftCallCC` I defined does too

[2020-11-26 01:22] LightAndLight opened #84 "instance (MonadError e f, MonadError e g) => MonadError e (Product f g)"
Is there a technical reason why this instance doesn't exist? It seems well-behaved (some sanity-check proofs are at the bottom of the page).

[code]

---

[code]

[code]

[2021-02-14 11:09] Kleidukos commented on #69
@Bodigrim @phadej @chessai Where are we standing on that topic?

[2021-02-14 11:12] phadej commented on #69
I'm not the one who can decide about `mtl`, I just comment on the internet (too much).

[2021-02-14 11:18] Bodigrim commented on #69
Neither am I.

[2021-02-14 11:20] ekmett commented on #69
I'm happy to cede governance of the `mtl` to the CLC.

[2021-02-14 11:23] sofia-m-a opened #85 "Adding a proper ListT to transformers and this package"
I think we should add a type equivalent to the following to transformers (and mtl):
[code]
This is a monad transformer, while it's well-known that the existing ListT is not.

And perhaps we should add the relevant MonadChoice class here (subject to design discussion)

Ideally this would happen in cooperation between the two libraries, hence why I'm opening it here. We would at least need all the i

[2021-02-14 22:04] emilypi commented on #69
I can cut a release if you add myself and @chessai as maintainers @ekmett

[2021-02-14 22:09] vdukhovni commented on #69
That's probably the easy part.  Has a decision been made on the division of responsibilities between:
* mtl
* writer-cps-mtl
* mtl-compat
* transformers
* ...

There seems to be a coordination issue here that cuts across packages, that's the real obstacle...

[2021-02-14 22:12] chessai commented on #69
Are we blocked on #81?

[2021-02-15 00:25] cartazio commented on #69
I think viktor raises the right point. And I think the division of
responsibility should be the one that

A) avoids needlessly breaking preexisting code

B) ensures that future new code need only transformers mtl and
mtl/transformers-compat. (Any other compat package should just be a
reexport of compat stuff from there )

On Sun, Feb 14, 2021 at 5:12 PM chessai <notifications@github.com> wrote:

[2021-02-15 02:34] vdukhovni commented on #69
FWIW, though it probably does not have to be stated, I don't know enough history, or have broad enough contact with the existing library ecosystem to suggest any particular strategy.  I hope that someone with the right expertise will be able to step forward and suggest a specific strategy that can achieve consensus.

[2021-02-15 08:27] phadej commented on #69
I'd suggest the following:

- make `transformers-compat` be compat package *only* for `transformers`
- repurpose `mtl-compat` to be `mtl` *true* compat package
- make `writer-cps-transformers` use `transformers-compat`
- make `writer-cps-mtl` use `mtl-compat`

First two packages are maintaiend by Ryan Scott, who is usually very responsive.
`writer-cps-*` packages are maintained by Daniel Mendler w

[2021-02-15 09:31] ekmett commented on #69
added you both to transformers-compat and mtl on hackage

On Mon, Feb 15, 2021 at 12:27 AM Oleg Grenrus <notifications@github.com>
wrote:

[2021-02-15 09:34] minad commented on #69
Is someone is interested in maintainer rights for the writer-cps-* compatibility packages? @phadej? This would help in avoiding such coordination issues.

[2021-02-15 09:35] phadej commented on #69
@minad, perfectly would be the same people as for `transformers(-compat)` and `mtl(-compat)`, i.e. not me.

[2021-02-15 09:37] minad commented on #69
Just to be very explicit, who should be added? I am sorry - I didn't follow the discussion recently. I just got your ping.

[2021-02-15 10:39] Kleidukos commented on #69
The whole CLC

[2021-02-19 00:14] Bodigrim commented on #69
@Kleidukos it is techically impossible

@minad please grant access to https://hackage.haskell.org/user/chessai and https://hackage.haskell.org/user/topos

[2021-02-19 01:05] minad commented on #69
@emilypi @chessai I added you to the maintainer group on hackage to various writer-cps-* packages. Furthermore I added you to the github repositories https://github.com/minad/writer-cps-transformers and https://github.com/minad/writer-cps-mtl. Please let me know if something else is needed.

[2021-02-28 17:22] chessai commented on #69
@minad could you please re-send my github invitations? They expired.

Furthermore, Emily and I have committed time coordinating to getting this all done next weekend.

[2021-03-07 18:20] emilypi opened #86 "Mtl 2.3 Release Prep"
This is release prep for the 2.3 release of `mtl`.

## TODO
---

- [x] Add existing typeclass instances for `SelectT`
- [x] `MonadAccum` (including documentation)
- [x] `MonadSelect` (including documentation)
- [x] Compatibility with transformers-0.6
- [ ] Changelog entries
- [x] Remove all re-exports
- [x] Version narrowing
- [ ] Cut a release

[2021-07-09 15:26] sjakobi opened #88 "Compatibility with transformers 0.6"
https://hackage.haskell.org/package/transformers-0.6.0.0/changelog

Could you upload a compatible release or make a Hackage revision?

[2021-07-16 17:15] turion commented on #85
It should be called `ListT`, since the name is already well-established in other libraries that implement it, such as `pipes` and `list-t`.

[2021-07-16 17:19] turion commented on #86
I can send a `MonadAccum` PR if people would want this.

[2021-07-16 19:09] chessai commented on #86
Edited the list to reflect a few new things that need to be done

[2021-07-16 20:00] chessai commented on #44
This is resolved in master, pending 2.3 release

[2021-07-16 20:00] #44 closed

[2021-07-27 13:32] phadej commented on #88
Revision is not enough.

[code]

[2021-07-27 13:40] phadej commented on #88
In fact, I don't see what `mtl` can do otherwise then making a `mtl-2.3` (i.e .breaking change) as transformers in [`Control.Monad.List`](https://hackage.haskell.org/package/mtl-2.2.2/docs/Control-Monad-List.html) and [`Control.Monad.Error`](https://hackage.haskell.org/package/mtl-2.2.2/docs/Control-Monad-Error.html) are removed, and I think it's easier to just remove them from `mtl` as well.

[2021-07-27 13:59] phadej commented on #88
I'll use the following patch to see how my packages break:

[code]

[2021-08-03 15:17] turion commented on #88
Removing `Control.Monad.List` is a great idea. It doesn't define a class anyways, and ties with this broken transformer should be broken.

For `Control.Monad.Error` we should check first whether there are any important bits of documentation that are not present in `ExceptT`.

[2021-08-22 05:16] treeowl commented on #5
It'd be great to actually get this sorted. The control operations are a horrible mess for things like `list-t` and `logict`, and not even knowing how they're *supposed* to behave makes implementation practically impossible.

[2021-09-03 02:34] chessai commented on #86
Confirmed that mtl master can build with transformers-0.6

[2021-09-03 02:52] chessai commented on #88
Compatibility is in master, but a release has not yet been made. Closing in favour of #86 (MTL 2.3 tracking issue)

[2021-09-03 02:52] #88 closed

[2021-09-28 21:47] jberryman commented on #86
Would someone be able to cut a release with what's already in `master`? It's a shame basic stuff like #67 has been sitting unreleased for years.

[2021-09-28 22:28] emilypi commented on #86
@jberryman we may be able to yeah. I think now that the CLC elections are done and we're resolving procedural issues, the next steps are for @chessai and I to sync on when we have time to address this. I'm leaning towards just cutting a release currently. Stay tuned.

[2021-10-15 10:11] sdzx-1 opened #91 "ContT is strange?"
hello, everyone.
I found ContT a bit weird.
[code]
Why can't we define it like this?

[code]
https://github.com/EMQ-YangM/fused-effects-cont/blob/5fd9dc23b3640a9702acacdf55f450dfb6c719db/src/Cont.hs#L24-L52
It seems more normal to look at it this way.

I hope I can use ContT in fused-effects.
If I have any mistakes, please let me know.

[2021-10-15 11:42] Lysxia commented on #91
Aren't these just different types with different purposes? There is no absolute "right" or "wrong", which is better depends on the job. However, a big part of the appeal of `ContT` is that you can define its `Functor`/`Applicative`/`Monad` instances uniformly for all `m`, not only monads.

[2021-10-21 09:53] turion commented on #86
Sorry, I'm behind with polishing `MonadAccum`, but I hope it's not holding up the release? I believe it's not necessary to ship it with the next version. But in case it is, I can speed up.

[2021-10-21 14:12] #91 closed, assigned to nobody

[2021-11-03 07:21] phadej commented on #86
friendly fortnightly ping

[2021-11-11 18:38] sjakobi opened #95 "Module ‘Control.Monad.Error.Class’ does not export ‘Error(..)’"
I'm experimenting with `mtl` `master` and encountered this issue with `tls`:

[code]

I didn't see this mentioned in the changelog. Possibly an oversight?!

[2021-11-11 19:32] chessai commented on #95
So, we need to provide a changelog entry that Error(T) exports were removed, not just their instances. Yes, this was an oversight in the changelog.

[2021-11-13 01:52] matobet commented on #86
Could we, in theory, cut a 2.3.0 release with the `transformers` bound bump to let the ecosystem upgrade ASAP and deliver the rest of the checklist items in subsequent 2.3.z versions?

[2021-11-13 01:57] chessai commented on #86
This is already being done. I cut rc1 two days ago, and rc2 is coming
tomorrow.

Thanks everyone for the continued push!

On Fri, Nov 12, 2021, 19:53 Martin Beták ***@***.***> wrote:

[2021-11-13 13:07] phadej commented on #86
@chessai that release doesn't seem to allow `transformers-0.6`

[2021-11-13 16:21] chessai commented on #86
Yeah, that's what rc2 is for. I forgot to bump the bounds before cutting rc1 (though I did already test building with transformers-0.6).

[2021-11-13 16:58] phadej commented on #86
@chessai what a reason to not do https://github.com/haskell/mtl/issues/68 in `mtl-2.3`. I'm afraid that `mtl-3` will never happen.

[2021-11-17 20:52] sjakobi commented on #95
Fixed in #100. Thanks again, @chessai! :)

[2021-11-17 20:52] #95 closed

[2021-11-19 01:38] sjakobi opened #101 "Lots of breakage due to removed re-exports in v2.3-rc3"
Here are some build errors that I've noticed:

`HsYAML`:

[code]

`algebraic-graphs`:

[code]

`happy`:

[code]

`lucid`:

[code]

`regex-tdfa`:

[code]

`tasty` ([patch](https://github.com/UnkindPartition/tasty/pull/318)):

[code]

---

**EDIT:** More breakage

`pattern-arrows`:

[code]

`aeson-better-errors`:

[code]

`mfsolve`:

[code]

`bytes`:

[code]

`logict`:

[code]

`monad-par`:

<detail

[2021-11-19 06:56] phadej commented on #101
One common thing about (at least 6 first packages) is that they are importing mtl modules unqualified:

https://github.com/haskell-hvr/HsYAML/blob/c9cd9898f839c1f2108148649e8a127c23ba3f0f/src/Data/YAML/Loader.hs#L19
https://github.com/snowleopard/alga/blob/1623fae605503595ee331929157c61b5e5e0c1c7/src/Algebra/Graph/NonEmpty.hs#L57
https://github.com/chrisdone/lucid/blob/998ddcfa350134bcb92398bb8cca

[2021-11-19 12:31] tchoutri opened #102 "mtl-2.3-rc3 breakages due to re-exports breaks"
Hi! I am testing the rc3 on closed-source projects and I'm noticing quite a lot of breakages due to re-exports. Would it be possible to have some actionable migration data provided for the types & functions that aren't re-exported anymore?

 I understand that the maintainer team wishes to reduce the number of weird accumulations over the years, but I'm afraid without any proper tool or knowledge o

[2021-11-19 20:25] mrkkrp commented on #86
Is there any estimate when `mtl-2.3` will be released?

[2021-11-19 20:26] chessai commented on #86
https://discourse.haskell.org/t/ann-release-candidate-for-mtl-2-3/3687

[2021-11-19 21:19] andreasabel commented on #101
Yes, of course, this is established practice.

[2021-11-19 21:44] phadej commented on #101
Emphasis mine. But as I said in the PR #99, it's probably better to revert that and forget about this cleanup.

[2021-11-19 22:07] andreasabel commented on #101
Mmh, if migration is as simple as adding extra imports, like
[code]
I personally would not mind adding these.  But it would feel unnatural to discontinue unqualified import of monad transformers, like
[code]
because the names brought into scope are distinct enough (`ReaderT`, `runReaderT`, `MonadReader`, `evalState`, etc.).

[2021-11-19 22:23] phadej commented on #101
@andreasabel Yes, you could continue to to use unqualified imports, and the #99 change makes that less dangerous, by making these modules export less (e.g. *all* of `Data.Monoid`).

I'd still advise against. E.g. HLS makes it quite easy to add explicit import lists after initial development is done. (Or you may use internal prelude and import these modules once and re-export for your package, then

[2021-11-26 10:47] andreasabel commented on #102
Now one of the two weeks of testing `mtl-2.3-rc3` has passed, and major breakage has been reported.
What does this mean for the release plans @emilypi?  Are you working on a RC4?
Or are you waiting for more feedback from the community?
To be frank, I have not invested time in experimenting with RC3 since there are already reports (#101), so I am expecting a RC4.
It would be good maybe to dedicate

[2021-12-01 15:38] sjakobi commented on #101
For reference, @phadej and I have discussed this issue a bit further in #99.

I've realized that I don't particularly care about this issue, because I don't need the new features in `transformers-0.6`.

I do expect though, that if `transformers-0.6` is used in GHC 9.4, the breaking changes in `mtl` will probably inhibit adoption of GHC 9.4. I think the `mtl` maintainers should take this into accou

[2021-12-01 15:41] chessai commented on #101
cc @emilypi let's schedule a meeting to discuss this

On Wed, Dec 1, 2021, 09:39 Simon Jakobi ***@***.***> wrote:

[2021-12-16 11:58] phadej commented on #86
friendly ping.

[2022-01-01 15:23] phadej commented on #86
Happy new year ping!

[2022-01-01 16:12] chessai commented on #101
So, I suppose everyone is in favour of reverting the no re-export change and then just cutting a release? cc @emilypi

[2022-01-01 16:37] phadej commented on #101
I'd note that until that reverting (i.e. un-fixing #68) probably means that `Control.Monad`, `Data.Monoid`, `Control.Monad.Fix` in `base` should be treated akin to `Prelude` (i.e. changes in these are very controvercial). cc @Bodigrim

The explicit re-export lists as @sjakobi suggested is middle-ground. Less bad then open re-export.

[2022-01-01 17:32] Bodigrim commented on #101
It would help to have a clear strategy statement from maintainers. Do `mtl` maintainers want this change to happen (now or in future) despite its impact? #74 suggests that the answer is yes, but that discussion might be outdated.

[2022-01-04 20:16] Bodigrim commented on #101
Here are my thoughts in a personal capacity, feel free to ignore.

I'd release `mtl-2.3` without #99 and (if there is a consensus that it is a desired change to happen) immediately follow up with `mtl-2.4` with #99. Update GHC submodule to `mtl-2.3`, but not to `mtl-2.4` yet.

The rationale is that it `mtl-2.3` is an important release to catch up with `transformers`, which is long overdue. It is a

[2022-01-05 01:45] phadej commented on #101
That feels like kicking everything twice, especially if a package needs changes due both, removed `ErrorT` *and* removed re-exports.

If GHC-9.4 is to be released in 5 months at earliest (?), why wait?

[2022-01-09 12:46] Bodigrim commented on #101
If both `mtl-2.3` and `mtl-2.4` are released at the same time, a motivated maintainer can do both changes at once. I am personally not a fan of cliff edges when you must upgrade half of the world just to accomodate `transformers-0.6`. Five months are not that much, especially given that I do not see any migration guide or a loud announcement of this change except a tiny changelog line.

Essentiall

[2022-01-09 16:31] chessai commented on #101
I think I am leaning toward reverting and just being in violation of PVP
for now. I never imagined so much of the ecosystem would use MTL imports in
this way, which I consider poor form, but others don't seem to mind that
much.

What do others think? @sjakobi @phadej @Bodigrim @emilypi

On Sun, Jan 9, 2022, 06:46 Bodigrim ***@***.***> wrote:

[2022-01-10 20:16] sjakobi commented on #101
I do like @Bodigrim's suggestion from https://github.com/haskell/mtl/issues/101#issuecomment-1005139255. Making a first release with #99 reverted would be a good first step in any case. :+1:

[2022-01-10 22:57] Bodigrim commented on #101
I understand technical merits of #99, and indeed things like `replicate` being imported by `Control.Monad.Reader` are fishy, but it is also a huge-huge breaking change (in the name of potentially less breaking changes in future). It's not my burden to facilitate migration and respond to user's feedback, so it would be wrong for me to advice on strategy. Otherwise my take is in https://github.com/h

[2022-01-11 00:29] phadej commented on #101
I want to remind about the middle-ground: At least make the re-exports explicit, and fixed.

It's not that *easy to do* as just reverting: someone have to write code "new" code, but it's not much work either: e.g. make a `other-modules` named `MonadReexports` with an explicit re-export list, and re-export that one instead of `Control.Monad`, `Data.Monoid` etc.

(If you ask me to do it, I'll ask to

[2022-01-19 19:31] mrkkrp commented on #86
Is there any estimate when `mtl-2.3` will be released?

[2022-01-19 19:37] Bodigrim commented on #101
@chessai @emilypi GHC 9.4 feature freeze is upcoming in February. It would be nice to release `mtl-2.3` with `transformers-0.6` support, so that both can be updated in GHC source tree.

[2022-01-26 19:43] mrkkrp commented on #86
@emilypi Is the project maintained? What is the reason 2.3 got delayed by more than 2 months while @phadej's pings are being ignored?

[2022-01-26 20:05] chessai commented on #86
The project is not unmaintained, there are two other issues and a pull request where discussion has taken place. I didn't feel the need to reply here after replying there. Perhaps that was misguided on my part. I pinged @phadej and others for thoughts/review on #103, which is the primary blocker of 2.3.

[2022-01-28 07:11] chessai commented on #102
Resolved in ecb525a5ba3521d0059eb2396a376b2e91557cff
rc4 published on github at https://github.com/haskell/mtl/tree/v2.3-rc4
rc4 published on hackage at https://hackage.haskell.org/package/mtl-2.3/candidate

[2022-01-28 07:11] #102 closed

[2022-01-28 07:11] chessai commented on #86
rc4 published on github at https://github.com/haskell/mtl/tree/v2.3-rc4
rc4 published on hackage at https://hackage.haskell.org/package/mtl-2.3/candidate

[2022-01-28 07:13] chessai opened #104 "README inaccurately mentions Control.Monad.Error Control.Monad.Except"

[2022-01-28 09:39] phadej commented on #68
As the #99 is reverted this should be re-opened.

[2022-01-28 15:00] andreasabel commented on #86
@chessai thanks!
Could the test instructions be updated, maybe just in a comment here.
(For rc3, they were published at https://discourse.haskell.org/t/ann-release-candidate-for-mtl-2-3/3687.)

[2022-01-28 15:14] sjakobi commented on #101
I'm happy to report that all of the packages I mentioned in the issue description build without errors with `mtl-2.3-rc4`. Some may already have been patched, but the majority seem to have been fixed via #103.

[2022-01-28 16:53] ekmett commented on #68
So much for pulling off the bandaid. *sigh*

[2022-01-28 17:24] ekmett commented on #68
I do want to go squarely on record as saying that reverting this change is the wrong decision.

[2022-01-28 17:41] sjakobi commented on #68
@ekmett Are you aware of the discussion in https://github.com/haskell/mtl/issues/101 about to best respond to the breakage that pulling off this bandaid would cause?

The decision to revert it certainly wasn't done lightly.

[2022-01-28 18:49] ekmett commented on #68
Yes. That level of impact is well within my expectation.

This has been a wart in the design of this library that we've suffered with for 15 years, because at no point has it ever been "the right time to fix it." The thing is,  waiting to fix it ever longer will simply increases our exposure without end.

If our stated intention _is_ to do this in 3.0 then all that we do by pushing this off is mak

[2022-01-28 18:57] ekmett commented on #68
The patches consist of adding imports, not making complicated semantic changes.

The cost of the status quo is that adding _any_ new combinators to `Control.Monad` or `Control.Monad.Fix` or `Control.Monad.Trans` means that any existing user of MTL modules that uses any of the new names we take in `base` may have to hide the same import a dozen in one source file.

With perfect hindsight, pulling t

[2022-01-28 19:01] ekmett commented on #68
Why is it rational that `import Control.Monad.RWS.Class` should bring into scope `fix`?

[2022-01-28 19:07] chessai commented on #68
(fixed a typo)

See https://github.com/haskell/mtl/pull/103#issuecomment-1024522023

[2022-01-31 01:46] Bodigrim commented on #68
I do not see many developers suffering from this wart for 15 years. If that was the case, we'd see lots of packages choosing to import `mtl` qualified or with explicit import list, but this is not so.

The breakage allows for backwards-compatible patches, which proponents of the change could have provided beforehand to alleviate the pain of migration. Yet I've seen no such effort underway in 2.5 y

[2022-01-31 05:14] ekmett commented on #68
There has been no effort underway on _anything_ around the `mtl` in the 2.5 years this ticket has been open.

[2022-02-17 19:21] andreasabel commented on #86
More often, the `cabal.project` file looks like this:
[code]

[2022-02-18 16:18] andreasabel commented on #86
_Rin in die Kartoffeln, raus aus die Kartoffeln._  So we are back to RC3?  Sigh, then I have to rerun my build-checks for everything...

[2022-02-18 16:59] andreasabel commented on #104
Where?

[2022-02-18 17:44] andreasabel commented on #101
Need this issue be reopened, because of https://github.com/haskell/mtl/pull/103#issuecomment-1024522023 ?

### random-1.2.1
[code]

[2022-02-23 18:39] andreasabel commented on #101
@sjakobi : Will you reopen this one or shall I create a new issue to track breakage and fixes with RC3?

[2022-02-23 23:30] sjakobi commented on #101
Yeah, feel free to use this issue for tracking breakage and fixes.

[2022-03-20 15:55] sjakobi commented on #86
Friendly ping @chessai, @emilypi. :)

It would be great if we could get a release that is compatible with `transformers-0.6`!

[2022-03-21 17:18] andreasabel commented on #86
I think a reasonable step would be to release RC4 as `mtl-2.3`.  This allows `transformers-0.6` and introduces minimal breakage.
RC3 breaks mucho, to the point where it is questionable whether it should be released at all, or whether it should be a major-major release (3.0).

[2022-03-24 14:14] andreasabel opened #105 ""Since" information for `MonadFail` instances missing (haddock, CHANGELOG)"
After doing a bit of research, I conjecture that the `MonadFail` instances (e.g. for `ReaderT`) were added in `mtl-2.2.1`.
However, this information isn't attached to these instances in the haddocks (e.g. https://hackage.haskell.org/package/mtl-2.2.1/docs/Control-Monad-Reader.html#v:fail), nor is it mentioned in the CHANGELOG (https://hackage.haskell.org/package/mtl-2.2.2/changelog).

Proposal:
-

[2022-04-06 15:04] sjakobi commented on #86
For reference: There's a new discussion about the state and future of MTL in https://github.com/haskell/core-libraries-committee/issues/52.

[2022-04-11 08:25] andreasabel opened #107 "Add release dates to CHANGELOG"
Please add a line mentioning the release date for each release in CHANGELOG.

[2022-04-30 10:15] Bodigrim commented on #86
As discussed at https://github.com/haskell/core-libraries-committee/issues/52, @kozross is a new maintainer of `mtl`. @kozross could you please share your vision and timeline?

[2022-04-30 17:33] kozross commented on #86
@Bodigrim Basically, the proposed task list is my vision as it stands. I'm currently awaiting @tomjaguarpaw removing re-exports, as he offered [here](https://github.com/haskell/core-libraries-committee/issues/52#issuecomment-1094101651), as the compatibility with latest `transformers` has been checked already.

Furthermore, @emilypi and @ekmett - did you come to a decision regarding lower-bounding

[2022-04-30 17:38] ekmett commented on #86
I don't have a current felt sense on the lower bound issue about what releases everyone is using right now. I _am_ planning on moving basically all of my own packages to an 8.6 or so floor to get uniform access to DerivingVia and some other things that rather drastically reduce my code footprint, though, and it is not like old mtl will cease to exist for users below that waterline. Above that I do

[2022-04-30 17:46] kozross commented on #86
@ekmett For what it's worth, I consider 8.6 my absolute minimum, so I'd be happy to do the same for `mtl`. The main reason I haven't moved ahead with anything is because @emilypi wanted your take.

[2022-04-30 18:34] tomjaguarpaw commented on #86
Hello, sorry, I didn't realise that mtl was waiting for action from me.  Sorry if my inaction has been holding things up.

To be clear, [my offer](https://github.com/haskell/core-libraries-committee/issues/52#issuecomment-1094101651) was not so much to "remove re-exports", but rather "decide what to do with re-exports". Part of what I would have done, were it up to me, would be to immediately rele

[2022-04-30 19:05] ekmett commented on #86
I think I'd be comfortable with an 8.6 floor. If you need to go below that line, you generally need to use lots of old versions of things anyways.

[2022-04-30 21:13] kozross commented on #86
@tomjaguarpaw OK, thanks. Sorry about the confusion.

[2022-04-30 23:33] phadej commented on #86
FYI, GHC lower-bound can be quite high: E.g. `ghc-9.0` and `ghc-9.2` *packages* depend on `exceptions` which depend on `mtl`, so on those GHCs `mtl` is essentially non-upgradeable (for any complicated install plan which includes e.g. ghc plugins).

OTOH, current GHC `mtl` master build down to GHC-7.0, so if there is no super urge to clean up all the internal CPPs etc. right now, just don't. `trans

[2022-05-01 00:19] kozross commented on #86
@emilypi Vis-a-vis removal of re-exports, which of these are we removing:

* Specifically `Control.Monad`, `Control.Monad.Fix`, `Data.Monoid`;
* All `base` re-exports;
* All re-exports which are not our own modules; or
* Something else?

@phadej The whole _point_ of raising the floor of the GHC versions we rely upon is not to have to cart around CPP cruft, or rather, to cart around _less_ of it. F

[2022-05-01 00:36] phadej commented on #86
@kozross you misunderstood me.

The most CPP in `mtl` is on `transformers` (CPS monad instances), with few `__GLASGOW_HASKELL__ >= 707` (for `MINIMAL` pragma) and `MIN_VERSION_base(4,8,0)` (AMP). So you can remove the most CPP by raising the floor of `transformers` version, but still still supporting quite old GHCs (e.g, GHC-8.0+).

CLC has been quite conservative recently. I'd expect `mtl` future

[2022-05-01 00:45] kozross commented on #86
I'm not opposed to raising the floor on the required `transformers` version, but this was never under discussion as far as I understand it. @emilypi and @chessai - thoughts?

I _refuse_ to be bound by the past when it comes to improvements. Nothing is stopping anyone from using older versions of `mtl` for reasons of continuity, but holding improvements hostage to staying on GHC versions which are

[2022-05-01 00:54] emilypi commented on #86
I support raising all floors and stopping this stupid backcompat dick-measuring contest. Please submit the PR's so I can approve them and merge them.

[2022-05-01 01:50] chessai commented on #86
Agree

[2022-05-01 02:17] kozross commented on #86
@emilypi and @chessai - I've sent #108 dealing with some of the points listed in this issue. It's a necessary preliminary to other work - once this lands, I'll tackle the rest.

[2022-05-01 08:01] andreasabel commented on #86
`mtl` is core in the Haskell ecosystem so I expect it to be inclusive.
Ubuntu LTS 18.04 is shipping GHC 8.0 (https://repology.org/project/ghc/versions), so that would be the _maximum_ baseline.

The immediate goal would be to release a `mtl` that allows to proceed to `transformers-0.6` without cutting off the majority of GHC versions.

It has been argued that support for older GHCs can be achieved

[2022-05-01 08:29] kozross commented on #86
@andreasabel With all due respect to both Ubuntu and Stack, I simply cannot see why _I_ should carry around _their_ legacy, and frankly _bad_, decisions. GHC 8.0 is at this point something like five years old, and predates a tonne of improvements which the vast majority of the ecosystem can, and does, take for granted. Likewise, why anyone would use Stack in 2022 is completely beyond me, as litera

[2022-05-01 08:56] tomjaguarpaw commented on #86
I'm quite puzzled all around here.

On the one hand, it won't hurt me personally if `mtl`'s GHC dependency is raised all the way up to 8.6. On the other hand, making a reasonable effort to maintain a wider range of supported versions seems desirable. Perhaps the effort required is *un*reasonable, though.

Now, @andreasabel points out that once Stackage nightly switches to `mt-2.3`, anyone using `n

[2022-05-01 16:23] emilypi commented on #86
Keyword reasonable here. A reasonable effort would be to maintain a fixed window of support for older GHCs. Right now, the baseline of 8.6 is 3 years old. This is a fine window for support. What is _unreasonable_, is to take on the burden of supporting GHCs that people do not use. The 8.6 baseline is statistically supported by [the State of the Haskell survey](https://taylor.fausak.me/2021/11/16/h

[2022-05-01 16:34] emilypi commented on #86
Also, please keep in mind that  while Ubuntu LTS 18.04 is pinned to 8.0 in `universe`, this does not stop the user from installing their own locally, as they would with `ghcup` or `stack`. The reason they are pinned to that particular GHC is a myster, as Ubuntu 20.04 jumps to 8.8 as a baseline in `universe`. My assumption is that whoever maintained the package stopped, for whatever reason. Either

[2022-05-01 16:40] tomjaguarpaw commented on #86
Sure, I'm in favour of ripping off the bandaid ASAP.  I just don't understand why, *at the same time as* ripping off the bandaid and releasing 2.3, there can't also be a release of 2.2 that bumps `transformers`.

[2022-05-01 17:36] Kleidukos commented on #86
@tomjaguarpaw From reading the comments of the various parties here, I can judge that efforts are spread too thin, and such a compatible release would require more time and energy than is currently available.

[2022-05-01 17:48] emilypi commented on #86
It would involve _not_ merging any real fixes for any outstanding issues because they're hard, and just merging more CPP that we'd rip out in the next merge from @kozross the following day. That's not an exaggeration. It would literally be upon @kozross merging master into his branch. Again, we kick the can down the road. Please trust that we've made our decision, and we're going through with it,

[2022-05-01 18:02] tomjaguarpaw commented on #86
After having investigated, I can answer my own question: there's at least one reason why supporting `transformers-0.6` requires a major version bump in `mtl`: it drops `ListT` and `ErrorT`, requiring the equivalent change from `mtl`. That was a crucial fact that I have been missing in the discussion of all this. (Perhaps there are other reasons besides.)

[2022-05-01 21:08] andreasabel commented on #86
Agda certainly has customers that are not software developers nor system administrators, but _mathematicians_ (yes, the picture that this word brings to your mind is accurate).  They are not following the latest developments in the Haskell ecosystem, but they want to install Agda on their old OSs.  Having to reinstall GHC or upgrade the OS is a big nuisance for them.
There were always outcries whe

[2022-05-01 21:28] Bodigrim commented on #86
As already pointed out by @phadej above, there is nothing to win in terms of CPP from dropping GHC 8.0 support. Dropping GHC < 8.0 + dropping transformers < 0.6 is enough to get rid of any CPP in `mtl`, so I personally do not see much benefit in artificially reducing the support range even further immediately.

There are situations when GHC from system packages is the only bindist available. Admit

[2022-05-03 09:58] phadej opened #110 "mtl current master is Safe-inferred (but actually may not be)"
e.g.

![Screenshot from 2022-05-03 12-52-27](https://user-images.githubusercontent.com/51087/166434439-01dca44f-4b38-4ee8-b4db-3d0c49e65abe.png)

While PVP doesn't mention Safe Haskell explicitly, there was discussion about it https://github.com/haskell/pvp/issues/22

Dropping Safe Haskell support is fine in major bump, but it will cause some friction. Some of (direct) reverse dependencies are exp

[2022-05-03 11:30] ekmett commented on #110
Yet another safe-haskell footgun.. and folks wonder why I stopped even bothering to try to handle it.

The only way I know to safely handle safe haskell is to explicitly mark a module as Trustworthy and then forcibly import a module marked Unsafe.

That is literally the only way to get into a known state.

Everything else leads to errors and warnings as upstream packages change their trustworthine

[2022-05-03 12:15] phadej commented on #110
It's not the only way.

GHC-9 has [`-Winferred-safe-imports`](https://downloads.haskell.org/ghc/9.0.2/docs/html/users_guide/exts/safe_haskell.html?highlight=safe%20haskell#ghc-flag--Winferred-safe-imports) warning, so you can mark your modules as Safe and see if you get that warning and complain to the upstream.

That is what I did to the part of kmettverse up to `free` IIRC, it's all explicitly `

[2022-05-03 13:20] ekmett commented on #110
The problem with the 'see if you get the warning' is it varies strongly by build plan, and for the other, unplanned for build failures not blocked by version bounds are even worse. I _still_ just want a "This module locally is at least Trustworthy and if you can infer it safe, do so and stop bothering me or all my users" flag. I've asked for it ever since safe haskell was introduced and just stopp

[2022-05-03 13:24] ekmett commented on #110
IIRC, the best approach I have at present is

[code]

and then just putting Trustworthy wherever I want to mark the module itself as behaving as safe. This is my best notion of "TrustworthyOrBetter".

I just keep forgetting this works, because it is such an asinine way to have to solve the problem.

[2022-05-03 13:25] ekmett commented on #110
It also has the unfortunate side-effect of greatly enlarging the trusted codebase whenever I have to use it.

[2022-05-03 13:51] phadej commented on #110
@ekmett

Again, the things up to `free` have the lower bounds of their dependencies (mostly) so high that said dependencies are using `-Wmissing-safe-haskell-mode`, or at least explicitly mention in the changelog that they are `Safe` / `Trustworthy`. E.g. https://hackage.haskell.org/package/comonad-5.0.8/changelog

I don't see this problem much different than having explicit type-signatures or not

[2022-05-03 13:57] ekmett commented on #110
I hear you. I'm probably just grumbly that given `DerivingVia`'s recent change in status I expect I'm going to be rejiggering a lot of these annotations on any decently fresh code I've written, yet again, for all of the 2 users of SafeHaskell that exist.

[2022-05-03 14:34] phadej commented on #110
@ekmett join the choir at https://gitlab.haskell.org/ghc/ghc/-/issues/19605 (or and other Safe Haskell + coerce issues.

But TBH, another direction is just abandon Safe Haskell, `Data.Coerce` is way too useful to not be used. The two Safe Haskell users could cry to GHC developers. (I never have met any end-user).

[2022-05-04 16:05] andreasabel commented on #86
Generally speaking, the cost of restricting the scope of a new version of package X (e.g. by dropping GHCs) shows when you fix bugs in X.  If you have restricted the scope in the latest release of X, you might have to back-port the fixes to older releases of X.
Not sure how relevant this is to `mtl` (which we expect to be bug-free).
However, in general, if I have to choose between keeping #ifs or

[2022-05-04 18:18] kozross commented on #110
Resolved by #111.

[2022-05-07 05:28] emilypi commented on #107
PRs welcome if you wanna get that process started.

[2022-05-07 05:33] kozross commented on #86
@emilypi I _think_ we have all necessary changelog entries at this point?

[2022-05-07 06:04] emilypi commented on #86
Sounds like we do. I'll cut a release tomorrow.

[2022-05-07 19:47] kozross commented on #101
@emilypi @chessai Given the merging of #108, is this issue stale?

[2022-05-07 20:03] emilypi commented on #101
Yes, thanks @kozross

[2022-05-07 20:03] #101 closed

[2022-05-07 20:23] sjakobi commented on #101
@kozross, @emilypi What do you mean with "stale"? Did you find a way to reduce the breakage reported in this issue?

[2022-05-07 21:07] sjakobi opened #113 "Changelog for mtl-2.3 doesn't mention removal of re-export of several modules"
This changelog entry has somehow been lost:

https://github.com/haskell/mtl/commit/9e1582a0b5155a0d2072f020773b25b69462bec7#diff-38464cac9e46adec0b2e270a981b466c3d4c24badace8ac99de93e68558ceb8c

[2022-05-07 21:11] sjakobi commented on #101
I can actually reproduce many of the compilation errors I reported with the mtl-2.3 release.

[2022-05-07 22:46] jkachmar commented on #69
Closed via a019ae8247d40fbbe3fc6bef7508cf10b0b6be73 🎉

[2022-05-07 22:46] #69 closed

[2022-05-07 23:31] #113 closed

[2022-05-08 01:34] sjakobi commented on #101
I've used my Hackage trustee powers to add `mtl < 2.3` bounds to all the packages listed above that needed them.

Many don't have patches to add support for mtl-2.3 yet though:

* [ ] `lucid` ([bounds issue](https://github.com/chrisdone/lucid/issues/131))
* [ ] `happy` ([bounds issue](https://github.com/haskell/happy/issues/236))
* [ ] `pattern-arrows` ([bounds issue](https://github.com/paf31/patt

[2022-05-08 01:36] sjakobi commented on #101
Another broken package that is blocking many other packages is `x509`: https://github.com/haskell-tls/hs-certificate/issues/129

[2022-05-08 06:10] #107 closed

[2022-05-08 06:12] kozross commented on #86
Release has been cut, and [is on Hackage](https://hackage.haskell.org/package/mtl). Closing this.

[2022-05-08 06:12] #86 closed

[2022-05-08 06:19] emilypi commented on #101
To put it bluntly, bounds problems on other packages aren't my problem. they should use upper bounds. I'm not going to stop you from doing work you feel you need to do, but maintainers should take responsibility for their packages and do the patch work themselves. I don't want you to burn out because they don't want to add an upper bound or maintain their packages.

[2022-05-08 06:29] emilypi opened #116 "mtl 3.0 planning"
Per discussions with @ekmett:

- [ ] Factor `MonadReader` into `Ask` and `Local` classes
- [ ] Factor `MonadWriter` into `Tell` and `Listen`, and `Pass`
- [ ] etc...

Thoughts welcome

[2022-05-08 06:33] kozross commented on #116
`MonadAccum` would need to gain `MonadAsk` and `MonadTell` superclass constraints. I also feel we need to nail down precise laws, and restrict down some instances: for example, `ReaderT r (Cont r')` _is_ a `MonadAsk`, but _not_ a `MonadLocal` as per #83.

[2022-05-08 06:34] kozross commented on #116
Also, does it make sense to crack `MonadError` into `MonadThrow` and `MonadCatch`, paralleling the design choices for exception-chucking classes?

[2022-05-08 07:17] emilypi commented on #68
with `mtl-2.3`, i believe we addressed this. Please hmu to reopen if there's more non-compliance.

[2022-05-08 07:17] #68 closed

[2022-05-08 07:22] kozross commented on #116
With regard to a proper `ListT`, in order for this to 'belong' sensibly in this package, we need something like `MonadChoice` or `MonadNonDet` (I favour the latter). The best design for this is basically the `MonadLogic` of `logict` (I literally can't think of another), and that comes with laws, which I appreciate. However, this would mean 'taking ownership' of the equivalent of two whole packages

[2022-05-08 09:38] sjakobi commented on #101
No worries, @emilypi! :) I know I don't have to fix bounds on other people's packages.

[2022-05-08 09:40] andreasabel opened #117 "`mtl-2.3` dropped `ExceptT`"
Apparently, `mtl-2.3` dropped `ExceptT`, see e.g.:
- https://github.com/haskell/happy/commit/cc0fc789a19b9c3bdb1b1ed29bf910f386cefdf7

This is a bit surprising, as e.g. it has [`ReaderT`](https://hackage.haskell.org/package/mtl-2.3/docs/Control-Monad-Reader.html#t:ReaderT) and more of that kind: `WriterT`, `RWST`, `IdentityT` ...

Note that this drop is inconsistent with the documentation of `mtl-

[2022-05-08 15:57] Bodigrim opened #119 "`mtl-2.3` needs a migration guide for removal of re-exports"
https://github.com/haskell/mtl/pull/74#issuecomment-792326645 says

https://github.com/haskell/mtl/pull/103#issuecomment-1024522023 says

And yet neither published [changelog](https://hackage.haskell.org/package/mtl-2.3/changelog) nor announcements acknowledge the removal of re-exports from `Control.Monad` / `Data.Monoid`; and tooling / migration guide / public reasoning failed to materialise. Cou

[2022-05-08 18:06] kozross commented on #119
The changelog missing the relevant entry was indeed my bad, and I did fix it in #114. This does need to be updated on Hackage admittedly, but I believe that's a metadata change, so shouldn't require another release.

[2022-05-08 19:09] andreasabel commented on #119
If you mean "metadata" in the sense of hackage, I am afraid the CHANGELOG isn't part of the metadata that can be modified.  Only some contents of the `.cabal` file can be modified.

@kozross Could you please comment on whether the removal of `ExceptT` (also not mentioned in the CHANGELOG) was intentional?
- #117

If not, maybe you would anyway need a re-release.

[2022-05-08 20:24] Bodigrim opened #120 "Redundant constraint Monoid w in GHC 9.4 build"
[code]

[2022-05-08 21:16] Bodigrim commented on #117
`ExceptT` was dropped in bfddbe8c7c21bdd3d54e8f4d6df55d511356a101 (merged in #108) with the commit message "Remove some re-exports, raise minimum GHC to 8.6, remove unneeded CPP". While `ExceptT` is a re-export from `transformers` indeed, every other entity from `transformers` such as `ReaderT`, `WriterT`, etc., has survived, and AFAIR only re-exports from `base` such as `Control.Monad` were plann

[2022-05-08 21:32] kozross commented on #117
@Bodigrim and @andreasabel - you are absolutely right, this was a mistake on my part. I will send a PR _today_ remedying this. Sorry that I missed it.

[2022-05-08 21:34] kozross commented on #119
@andreasabel It was not - I've commented on the original issue, and plan to issue a fix today.

[2022-05-08 21:51] andreasabel commented on #117
I observe that `mtl` does not have a testsuite.  Having tests could prevent such mistakes.
For a start, examples from the documentation (such as the one I refer to above) could be added to the testsuite.

Historic note: The release of `mtl-2.1` was botched, read at https://github.com/agda/agda/commit/8ce5eb07d11ee319fd8122d436f7a56e6dec3092, and this blunder could have been prevented by the simple

[2022-05-08 21:55] ekmett commented on #117
It seems another beer is at least long overdue. Test suites are on @kosross, however. ;)

[2022-05-08 21:57] Bodigrim commented on #117
@kozross FWIW I beg you not to rush: take your time before the next release, upload a package candidate first, gather user's feedback. There is no urgency to resolve this issue _today._

[2022-05-08 22:12] andreasabel commented on #117
I agree with @Bodigrim.  There is no urgency now, as the problem in `mtl-2.3` can be worked around by importing from `Control.Monad.Trans.Except`.

If you want, @kozross, you can deprecate mtl-2.3 on hackage: https://hackage.haskell.org/package/mtl/preferred/edit
(I just deprecated 2.1 there now --- it hadn't been deprecated...)

[2022-05-08 23:15] kozross commented on #117
@andreasabel and @Bodigrim - I agree, rushing isn't a good idea. However, at least in the repo, we should fix this as soon as is reasonable. I feel pretty responsible here, and the fix isn't hard.

As for tests: yes, I agree 100%. I will probably add some; in truth, this is a niche I'm fairly familiar with, so if anyone is suited to do this, it's me.

[2022-05-08 23:55] sjakobi commented on #117
@kozross, @emilypi Could you possibly follow up on the announcements for mtl-2.3 and say that there will be another release that restores the presence of  `ExceptT`?

[2022-05-09 04:20] kozross commented on #120
This appears to be a typo in any case: there's no reason why the type of the writer effect has to match that of the accumulation effect.

[2022-05-09 08:04] Abastro commented on #117
Ouch, got bitten by this. Mistakes could even sneak into `mtl` I guess.
Is there no way to mark beta release in PVP?

[2022-05-09 08:12] andreasabel commented on #117
No. (Maybe there used to be something.)  The tool to test releases are release candidates. See, e.g., https://discourse.haskell.org/t/ann-release-candidate-for-mtl-2-3/3687 and https://github.com/haskell/mtl/issues/86#issuecomment-1024303926.

[2022-05-09 08:18] Abastro commented on #117
Yea, wondering if this could be avoided in the future by using some kind of beta branch, sounds like it would be hard.

[2022-05-10 05:56] #117 closed

[2022-05-10 17:36] gbaz commented on #116
add an update monad a la https://danel.ahman.ee/papers/types13postproc.pdf ?

[2022-05-10 18:07] kozross commented on #116
@gbaz I've considered this, but this would require a monoid action type class, which we'd also end up having to 'own'.

[2022-05-10 20:28] emilypi commented on #116
Ooo dibs

[2022-05-10 20:32] kozross commented on #116
@emilypi If we decide to go this way, we definitely need to consider the fundep question. I personally favour 'action determines state'. It _does_ mean we basically can't provide almost any instances, though.

[2022-05-10 20:59] emilypi commented on #116
Uh. I have feelings about this. I've made several attempts and bounced off of the question of which which is approach is best for several reasons. On one hand, I hate biting the overlapping/overlappable/incoherent approach of using raw MPTC (i.e. `Act a x` ) without fundeps, because it becomes extremely easy to write nonsensical and conflicting instances for `Endo x` rather quickly.

The solution,

[2022-05-10 21:35] kozross commented on #116
I _strongly_ oppose any kind of typechecker soup arising from not having fundeps on a multi-param type class. The biggest pain for _me_ is that the most natural such fundep (action determines state) means that certain 'obvious' instances become literally un-writeable. Consider more-or-less _the_ canonical implementation of the functionality of `MonadAsk`, which would require something like ``insta

[2022-05-10 21:35] kozross commented on #116
Also, could we add 'laws and tests for these'? I'm already laying the groundwork, but it'd be nice to have that too.

[2022-05-10 21:53] #120 closed

[2022-05-11 14:06] sjakobi commented on #117
What's the timeline for a release containing the fix (#121)?

The current situation is blocking the migration to mtl-2.3 because it's unclear whether packages that fail to build (in part) due to this issue should wait for a fixed release or not. https://github.com/haskell-tls/hs-certificate/issues/129 is an example.

[2022-05-11 17:35] emilypi commented on #117
@kozross and I will review and get something out by EOW. There are a few fiddly bits that need sorting out with the docs.

[2022-05-19 14:00] bgamari opened #123 "Tag for `mtl-2.3`"
It appears that there isn't yet a tag for the 2.3 release. Having one would be quite handy.

[2022-05-19 18:09] andreasabel commented on #123
2.3 is broken, we are waiting for a patched version incorporating the following PR:
- #121

[2022-05-24 07:12] andreasabel opened #126 "FYI: A paper on how Hackage packages use `mtl`."
Stumbled across this paper: https://pleger.cl/cv-pleger/papers/figueroaAl-SCP2020.pdf

Which Monads Haskell Developers Use: An Exploratory Study
by Ismael Figueroa, Paul Leger, Hiroaki Fukuda

From the abstract:

[2022-06-09 01:17] ulysses4ever commented on #123
@kozross some timeline for a release with ExceptT restored would be very welcome, if possible. Thank you for volunteering to care for `mtl`!

[2022-06-09 03:56] kozross commented on #123
@emilypi - any news on a new release?

[2022-06-09 17:33] Bodigrim commented on #123
I'd appreciate to see a resolution to #119 before a new `mtl` release. Yet another month has passed, and neither tooling, nor migration guidance, nor public justification for the breakage have materialised.

[2022-06-13 12:20] SmartHypercube opened #127 "Why not use rank 2 polymorphism for `callCC`"
I think rank 2 polymorphism is a must-have for `callCC`, or this code will not compile:
[code]
When calling functions like `error`, `throwIO`, or `exit`, which will never produce "normal" outputs, I generally expect the return type to be `forall a. a` in order to fit in any hole. But the `exit` produced by `callCC` does not work as expected. I wonder is there any specific reason?

I tried searchin

[2022-06-24 00:11] ulysses4ever commented on #123
A release with ExceptT put back would be an improvement over current state of things even if no guide materializes. Let’s not make perfect an enemy of the good.

[2022-08-08 00:59] Icelandjack opened #129 "Make MonadCont instance for ContT polykinded"
[code]

The MonadCont instance for `ContT` is unnecessarily restricted to types when it can be polykinded

[code]

This allows deriving

[code]

The kind of `ContT` should also be made specifiable: `forall k. k -> (k -> Type) -> Type -> Type` rather than inferrable `forall {k}. ..` as it is now.

[2022-08-08 01:29] kozross commented on #129
We can't control the kind of `ContT` as it comes from `transformers`. However, I don't object to making `MonadCont` polykinded.

[2022-08-09 20:48] kozross commented on #127
I'm definitely keen on making this happen, but this requires a major version bump. Once we land 2.3.1, I'm sure @emilypi wouldn't object to this change.

[2022-08-09 20:52] kozross commented on #85
I would be happy to add this, but it raises an interesting problem. `ListT` generally has _two_ meanings:

* 'I am a monadic stream'; and
* 'I am non-determinism of some flavour'.

With regard to the first of these, I actually don't know what kind of laws it could have; with regard to the second, this is basically `MonadLogic` from `logict`. If we want it to mean the former, we have to come up wit

[2022-08-10 01:53] #129 closed

[2022-08-10 01:53] #77 closed

[2022-08-10 07:06] Qqwy commented on #129
This seems like a good idea.

Are there any downsides to making this change? I cannot think of any obvious ones at least.

[2022-08-10 19:46] emilypi commented on #127
No objections here.

[2022-08-31 13:09] brprice commented on #116
One thing I have wanted a few times is a `MonadStateReadOnly` superclass of `MonadState` (and I guess dually a `MonadStateWriteOnly`) so I can mark (in a compiler-checked way!) helper functions as "this will only read the state, not modify it". Whilst you can do this by writing functions over a reader monad and translating that into state, this is awkward and does not work if you are using a reade

[2022-09-02 15:39] emilypi commented on #116
From chats with Ed, which would also affect `transformers`:

[code]

[2022-10-28 14:39] cartazio opened #133 "how can i help with a 2.3.1 release or the like?"
Hey All, i'm seeing that theres still not quite a solid 2.3 family release, whats left for that and how can I help?

[2022-11-01 02:01] AshleyYakeley commented on #85
1. It would be somewhat odd for `transformers` to add the new transformer with the same name as the old `ListT`.
2. I think the definition is wrong, it should be: `newtype ChoiceT m a = ChoiceT { runChoiceT :: m (Maybe (a, ChoiceT m a)) }`

[2022-11-01 02:06] AshleyYakeley commented on #85
3. Not sure if this is useful, but I think it can be decomposed:
[code]

[2022-11-01 08:45] noughtmare commented on #85
It might be good to consider prior art:

* [Monadic stream functions from `dunai`](https://hackage.haskell.org/package/dunai-0.9.1/docs/src/Data.MonadicStreamFunction.InternalCore.html#MSF)
[code]
  This is an arrow, but the monadic form would be the `StreamT` that @AshleyYakeley suggests.
* [Monadic streams used by `vector` for stream fusion](https://hackage.haskell.org/package/vector-stream-0.1.

[2022-11-01 08:56] AshleyYakeley commented on #85
For what it's worth, `MSF` can be decomposed (though you'd need a wrapper to make it an `Arrow`):
[code]

[2022-11-01 10:43] Kleidukos commented on #85
If you want to ping Ross on the `transformers` ticket tracker: https://hub.darcs.net/ross/transformers/issue/88

[2022-11-02 09:56] turion commented on #85
The issue is that there is no `Monad m => Monad (StreamT m)`, at least not in such a way that it gives rise to the `Monad m => Monad (ChoiceT m)` you'd expect.

[2022-11-02 10:24] AshleyYakeley commented on #85
Hmm, you're right that `StreamT` would not be a monad transformer.
However, I think you could do `MonadPlus m => Monad (StreamT m)`.

[2022-11-02 10:39] turion commented on #85
I'd be surprised if that can be done in a way such that it gives you the instance you expect. At some point, you need to "concatenate" the lists, and I don't see how that would work out.

How so?

[2022-11-02 11:37] AshleyYakeley commented on #85
Maybe this? This is just a guess and I haven't really analyzed it properly.
[code]

[2022-11-02 13:58] turion commented on #85
I don't think `join` does what you want it to do. Looking at https://hackage.haskell.org/package/transformers-0.6.0.4/docs/src/Control.Monad.Trans.Maybe.html#line-197, I understand the behaviour of `mplus` in the case of `MaybeT` to be "if the first value succeeds, _only_ take the first value, otherwise try the second. So if your `sa'` has a value, `ssa'` will be dropped completely.

[2022-11-02 19:12] AshleyYakeley commented on #85
I don't think so. `mplus sa' $ join ssa'` uses the instance for `MonadPlus (StreamT m)` I also provided, which concatenates the two lists.

[2022-11-02 19:18] AshleyYakeley commented on #85
So I believe it works.

The problem is that `type ChoiceT m = StreamT (MaybeT m)` means you obviously can't have `MonadTrans ChoiceT` without a newtype wrapper, which may not be worth it.

[2022-11-02 19:20] noughtmare commented on #85
But `MaybeT m` is an instance of `MonadPlus` for all monads `m`. So you won't need a newtype wrapper to have `Monad m => Monad (StreamT (MaybeT M))`.

[2022-11-02 19:38] AshleyYakeley commented on #85
On the plus side, `StreamT Maybe` is equivalent to lists, `StreamT Identity` is equivalent to infinite streams (not a monad of course), and `StreamT []` is equivalent to trees, if for some reason you want this kind of polymorphism.

[2022-11-03 08:33] turion commented on #85
I agree as well now :) thanks for your explanation!

I think even  a newtype wrapper it wouldn't work because `MonadTrans t` has `Monad m => Monad (t m)` as a prerequisite nowadays, and

[2022-11-03 08:44] AshleyYakeley commented on #85
Note that you do have `Monad m => MonadPlus (MaybeT m)`, so you can actually derive `Monad m => Monad (ChoiceT m)` and therefore `MonadTrans ChoiceT` (using a simple newtype wrapper).

[2022-11-03 08:49] turion commented on #85
Yes, and the motivation behind the `ChoiceT t m a` construction is to allow this step for all transformers that have such an instance. So one doesn't have to make a newtype for each of them. Ok, the only other example I know is `ExceptT e`. I don't know whether that is sufficient repetition to eliminate it.

[2022-11-03 08:56] AshleyYakeley commented on #85
OK, that makes sense.

I have no idea whether this `StreamT` thing is actually a good idea. The main problem is `StreamT` isn't a monad transformer, so it just might not fit in well with the rest of `mtl`. There might be more justification if there were a use-case for some other transformer besides `MaybeT`. `ExceptT e` will give you a list with an `e` on the end, not sure if that's useful...

[2022-11-03 09:10] turion commented on #85
Yes I think it is. It's like a "return code" for the stream execution. Most streaming libraries have something like this, because *drum roll* it makes the stream also a monad in `e`!

[2022-11-03 09:16] AshleyYakeley commented on #85
So in that case, one possibility is this:
[code]

[2022-11-03 09:21] AshleyYakeley commented on #85
This `ChoiceT` when considered as a monad in `e` is very similar to [`StepT`](https://hackage.haskell.org/package/monadology-0.1/docs/Control-Monad-Ology-Specific-StepT.html) in my monadology package.

[2022-11-03 09:26] turion commented on #85
Yes, although I really like your more general `StreamT`. Since it wouldn't reside in this library here anyways, how about putting that in a separate library and creating this `ChoiceT e m a` newtype there? Then `ChoiceT` could be part of `mtl`.

[2022-11-03 18:49] emilypi commented on #133
It's solid as of two days ago! thanks for the concern - we just needed to release.

[2022-11-03 18:49] #133 closed